<div class="navgation">
  <button mat-raised-button color="primary" routerLink="home">Home</button>
  <button mat-raised-button color="accent" (click)="logout()">Log out</button>
</div>

<div class="info">
  <h1 mat-dialog-title>User panel</h1>
  <p>Update your avatar?</p>
  <mat-form-field>
    <input
      (keydown.enter)="updateImg()"
      matInput
      [(ngModel)]="imgUrl"
      placeholder="new avatar url"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="updateImg()">
    Update
  </button>
</div>
