<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option
        *ngFor="let cat of categoriesPair | keyvalue"
        [value]="cat.key"
      >
        {{ cat.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input">
    <input
      type="text"
      placeholder="Search..."
      matInput
      formControlName="subCategory"
      [matAutocomplete]="auto"
    />
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
    <mat-icon matSuffix class="click" (click)="onSubmit()">search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
