<div class="products">
  <div class="filter">
    <button (click)="reset()" mat-raised-button color="warn">Reset</button>
    <mat-expansion-panel
      expanded
      *ngFor="let filterPair of dynamicFilter | async | keyvalue"
    >
      <mat-expansion-panel-header class="header">
        <mat-panel-title>
          {{ filterPair.key.replace('$', '').replace('_', ' ') | titlecase }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let fieldPair of filterPair.value | keyvalue">
        <div
          *ngIf="fieldPair.key.endsWith('$num'); then slider; else selector"
        ></div>

        <ng-template #slider>
          <div class="description">
            <mat-icon>swap_horiz</mat-icon>
            {{ fieldPair.key.substring(0, fieldPair.key.indexOf('$')) }}
          </div>

          <div class="range">
            <span class="left">
              {{ fieldPair.value.min }}
            </span>

            <div class="bar">
              <nouislider
                (change)="handleChange()"
                [connect]="true"
                [min]="fieldPair.value.min"
                [max]="fieldPair.value.max"
                [(ngModel)]="fieldPair.value.range"
              ></nouislider>
            </div>

            {{ fieldPair.value.max }}
          </div>
        </ng-template>

        <ng-template #selector>
          <mat-form-field class="select">
            <mat-label>
              {{
                fieldPair.key.substring(0, fieldPair.key.indexOf('$'))
                  | titlecase
              }}
            </mat-label>
            <mat-select
              (selectionChange)="handleChange()"
              [(ngModel)]="fieldPair.value.selected"
            >
              <mat-option>--</mat-option>
              <mat-option
                *ngFor="let choice of fieldPair.value.choices"
                [value]="choice"
              >
                {{ choice }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="result">
    <nav>
      <a class="category" [routerLink]="['/user', 'query', category]">
        {{ category }}
      </a>
      <span *ngIf="subCategory">
        >
        <a
          class="subCategory"
          [routerLink]="['/user', 'query', category, subCategory]"
        >
          {{ subCategory }}
        </a>
      </span>
      <button
        [disabled]="compareItems.length < 1"
        class="compare"
        mat-flat-button
        color="primary"
        (click)="toCompare()"
      >
        Compare
      </button>
    </nav>
    <div class="items">
      <mat-card class="item" *ngFor="let item of filteredItems | async">
        <mat-card-title
          [routerLink]="['/user', 'query', 'id', item.id]"
          class="title"
        >
          <mat-card-subtitle class="verified">
            Verified {{ item.verified | date }}
          </mat-card-subtitle>
          <img mat-card-lg-image [src]="item.imgUrl" class="image" />

          <mat-card-title
            class="description"
            *ngIf="item.description['Manufacturer']"
          >
            {{ item.description['Manufacturer'] }}
          </mat-card-title>
          <mat-card-title
            class="description"
            *ngIf="item.description['Series']"
          >
            {{ item.description['Series'] }}
          </mat-card-title>
          <mat-card-title class="description" *ngIf="item.description['Model']">
            {{ item.description['Model'] }}
          </mat-card-title>
        </mat-card-title>

        <div class="contents">
          <mat-card-content
            class="content"
            *ngFor="
              let specification of specificationsDescription(
                item['technical_specifications$']
              )
            "
          >
            {{ specification }}
          </mat-card-content>
        </div>

        <mat-card-actions class="past" *ngIf="item['past_selections$']">
          Past specifications: <br />
          {{ item['past_selections$']['firm$num'] }} firm /
          {{ item['past_selections$']['global$num'] }} global
        </mat-card-actions>

        <mat-card-footer class="footer">
          <mat-checkbox (change)="handleCompare($event, item)">
            Compare
          </mat-checkbox>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
