<ng-template [ngIf]="!loading">
  <div class="item">
    <div class="fix-head">
      <nav>
        <a class="category" [routerLink]="['/user', 'query', item.category]">
          {{ item.category }}
        </a>
        >
        <a
          class="subCategory"
          [routerLink]="['/user', 'query', item.category, item.subCategory]"
        >
          {{ item.subCategory }}
        </a>
        > {{ item.description['Model'] }}
      </nav>
      <hr />
      <header>
        <img [src]="item.imgUrl" />
        <span class="blue">
          {{ item.description['Manufacturer'] }} /
          {{ item.description['Model'] }} /
          {{ item.description['Series'] }}
        </span>
        <span class="red">
          Past specifications: {{ item.past_selections$['firm$num'] }} firm /
          {{ item.past_selections$['global$num'] }} global
        </span>
      </header>
    </div>

    <div (scroll)="onScroll($event)" #data class="data">
      <div class="top">
        <nav>
          <ul>
            <li
              [ngClass]="{ active: currentActive === 1 }"
              (click)="scroll(summary)"
            >
              Product Summary
            </li>
            <li
              [ngClass]="{ active: currentActive === 2 }"
              (click)="scroll(details)"
            >
              Product Details
            </li>
            <li
              [ngClass]="{ active: currentActive === 3 }"
              (click)="scroll(documentation)"
            >
              Product Documentation
            </li>
            <li
              [ngClass]="{ active: currentActive === 4 }"
              (click)="scroll(contact)"
            >
              Contact
            </li>
          </ul>
        </nav>
      </div>

      <h1 #summary>Product Summary</h1>
      <div class="summary">
        <div class="left">
          <app-simple-table
            [header]="'DESCRIPTION'"
            [data]="item.description"
          ></app-simple-table>

          <app-simple-table
            [header]="'TYPE'"
            [data]="item.type$"
          ></app-simple-table>
        </div>

        <div class="tech">
          <table>
            <thead>
              <th colspan="5">
                TECHNICAL SPECIFICATIONS
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let row of fields | keyvalue">
                <td class="gray_back">
                  {{ row.key }}
                </td>
                <ng-template *ngIf="row.value.min; then minmax; else solo">
                </ng-template>
                <ng-template #minmax>
                  <ng-container>
                    <td class="gray_back">Min</td>
                    <td class="gray_bot">{{ row.value.min }}</td>
                    <td class="gray_back">Max</td>
                    <td class="gray_bot">{{ row.value.max }}</td>
                  </ng-container>
                </ng-template>
                <ng-template #solo>
                  <td colspan="4" class="gray_bot">
                    {{ row.value }}
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h1 #details>Product Details</h1>
      <div class="details">
        <table>
          <thead>
            <th>
              SERIES INFORMATION
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let row of item.series_information">
              <td>
                {{ row }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h1 #documentation>
        Product Documentation
      </h1>
      <div class="documentation">
        <div class="icon">
          <img
            src="https://cdn2.iconfinder.com/data/icons/flat-file-types-1-1/300/icon_file-DOC_plano-512.png"
          />
          <span> CSI – Three Part Specification (DOC) </span>
        </div>

        <div class="icon">
          <img
            src="https://png.pngtree.com/png-vector/20190406/ourlarge/pngtree-rfa-file-document-icon-png-image_916815.jpg"
          />
          <span> BIM (RVT) </span>
        </div>

        <div class="icon">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Zc6emg2IrSmlQLCsi9hNEWelAlIsc90A2rK82MEAaZd5os809Q"
          />
          <span> Submittal (PDF) </span>
        </div>

        <div class="icon">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQppRqO-NqNSug5vJjpNg3PPacVULrprJJt2JH-AC2FLoBCy5Pr"
          />
          <span> Plan Views (DWG) </span>
        </div>

        <div class="icon">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Zc6emg2IrSmlQLCsi9hNEWelAlIsc90A2rK82MEAaZd5os809Q"
          />
          <span>Control Options (PDF) </span>
        </div>

        <div class="icon">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQppRqO-NqNSug5vJjpNg3PPacVULrprJJt2JH-AC2FLoBCy5Pr"
          />
          <span> Elevation Views (DWG) </span>
        </div>

        <div class="icon">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4gk8F30SfokqyT9U8oI2PpyG0YMq9dKcWfsDddFywnzknXnCg"
          />
          <span> Photometric Data (PDF)</span>
        </div>
      </div>

      <h1 #contact>
        Contact
      </h1>
      <div class="contact">
        <app-simple-table
          [header]="'SALES REPRESENTATIVE'"
          [data]="item.sales_representative"
        ></app-simple-table>
        <app-simple-table
          [header]="'MANUFACTURER'"
          [data]="item.manufacturer"
        ></app-simple-table>
      </div>
    </div>
  </div>
</ng-template>
